body{
    color: azure;
    background: burlywood;
    margin: 0px;
    font-family: "Sarabun", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px yellow;
    padding: 20px;
    font-size: 32px;
    color: beige;
}

.chamada{
    background:black;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    font-size: 43px;
}